# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
env/
venv/
.venv/

# Ignore model weight and large files
*.h5
*.hdf5
*.pb
*.ckpt

# Ignore datasets (optional if needed)
3-Augmented Grapevine Disease Dataset/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore VSCode specific settings (optional)
.vscode/
